<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asha.fitnesstracker.app" >

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.asha.fitnesstracker.app.activities.Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.asha.fitnesstracker.app.activities.SocialLogin"
            android:label="@string/title_activity_social_login"
            android:screenOrientation="portrait" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.facebook.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.asha.fitnesstracker.app.activities.MainScreen"
            android:label="@string/title_activity_main_screen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.asha.fitnesstracker.app.activities.BmiCalculator"
            android:label="@string/title_activity_bmi_calculator"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.asha.fitnesstracker.app.activities.BmiResult"
            android:label="@string/title_activity_bmi_result"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.asha.fitnesstracker.app.activities.Tips"
            android:label="@string/title_activity_tips"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.asha.fitnesstracker.app.activities.Calorie"
            android:label="@string/title_activity_calorie"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.asha.fitnesstracker.app.activities.CalorieResult"
            android:label="@string/title_activity_calorie_result"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.asha.fitnesstracker.app.activities.BaseActivity"
            android:label="@string/title_activity_base"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.Report"
            android:label="@string/title_activity_result"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>
